.card(data-aos="fade-left" data-aos-delay="100")
	.card__img.img-block
		img(src="img/prod.png", alt="")
	p.card__price 200 BYR
	p.card__title
		| Шина BEL-284 Artmotion 205/55R15 88Н 
		span
			|лето
	p.card__info
		|- В наличии 
		br
		|- Оптом и в розницу
	p.card__code
		b
			|Код: 
		| BEl-284
	a.btn.link(href="product.html") подробнее
	p.card__flag -10%