header.header
	.top-line
		.container
			.top-line__txt
				i.icon-contact-man.icon
				b Козловский А. А. 
				span Индивидуальный предприниматель
	.middle-line
		.container
			.header-info
				.logo-block
					a.logo.img-block(href="/")
						img(src="img/logo.png", alt="Belshina")
					div.name
						p.h1 бел
							b шина
						p.p Оптовая и розничная торговля шинами
						div.img-block.name__img
							img(src="img/logotype.png", alt="Belshina")
				.contact-block
					.contact-block__info
						p.p звоните в любое время
						a.link.h4(href="tel:") +375 (29) 529-13-11
						p.p Козловский Андрей Андреевич
					.contact-block__icon
						i.icon.icon-red-phone
	.bottom-line
		.container
			nav.navigation
				ul.menu.ul
					li.menu__item 
						a.menu__link.link(href="/") Главная
					li.menu__item 
						a.menu__link.link(href="") Продукция
						ul.sub-menu
							li.sub-menu__item
								a.sub-menu__link.link(href="category.html") Для легковых авто
					li.menu__item 
						a.menu__link.link(href="about-us.html") О нас
					li.menu__item 
						a.menu__link.link(href="contacts.html") Контакты
				form.search
					.search__field
						input.search__input(type="text", placeholder="Поиск")
						i.icon-search
				.hamburger
					.hamburger__line

