extends layout/main

block title
	|Главная

block content

	.container.about
		h1.h3 О Нас
		.about__info
			p 
				b Индивидуальный предприниматель 
				| Козловский Андрей Андреевич

			p 
				b Дата регистрации в Торговом реестре/Реестре бытовых услуг: 
				| 06.07.2017

			p 
				b Номер в Торговом реестре/Реестре бытовых услуг/Регистре производителей товаров:  
				| 13465698324, Республика Беларусь

			p 
				b Регистрационный номер ЕГР:  
				| 291474328

			p 
				b УНП:  
				| 291474328

			p 
				b Регистрационный орган:  
				| Администрация Ленинского района г. Бреста

			p 
				b Дата регистрации компании:  
				| 07.12.2016



