extends layout/main

block title
	|Каталог

block content

	.container
		.crumbs
			a.crumbs__link.link(href="") Продукция
			a.crumbs__link.link.active(href="") Для легковых авто

		.cards
			include section/card
			include section/card
			include section/card
			include section/card
			include section/card


