extends layout/main

block title
	|Каталог

block content

	.container
		.crumbs
			a.crumbs__link.link(href="") Продукция
			a.crumbs__link.link(href="") Для легковых авто
			a.crumbs__link.link.active(href="") Slive 12
		.product
			.product__header
				.product__img
					figure.zoo-item(data-zoo-image="img/prod.png" data-zoo-scale="2")
				.product__info
					h1.h3.title Continental
					p.h3 Conti4x4WinterContact
					.product__txt
						p Зимняя нешипуемая шина Continental Conti4x4WinterContact – надёжная и качественная «обувь» для джипов и внедорожников, закалённая под переменчивые зимы с непостоянной погодой.
						p Ассиметричность протектора гарантирует хорошую тягу и отлично держит авто в условиях любой ситуации под колёсами, будь то сильно заснеженная дорога, слякоть и лужи или голый лёд. Широкие канавки рисунка предотвращают эффект аквапланирования, надёжно очищая пятно контакта шины от воды и снежной грязи.
			h3.h4.title Размеры
			.size
				span.size__name Continental Conti4x4WinterContact 265/60R18 110H
				span.size__val 265 / 60 R18
				span.size__price 
					b 489.00 BYN
			.size
				span.size__name Continental Conti4x4WinterContact 265/60R18 110H
				span.size__val 265 / 60 R18
				span.size__price 
					b 489.00 BYN

			h3.h4.title Характеристики
			.params
				span.params__name Назначение
				span.params__val 
					b Легковые
			.params
				span.params__name Производитель
				span.params__val 
					b Белшина

		


